---
const { titulo,subtitulo,fecha,pos,descrip} = Astro.props;
---
<div class={`w-full slide-in-top flex justify-end ${pos}`}>
  <div class={`p-6 overflow-hidden bg-black border w-4/5 md:w-2/5 border-gray-400/30 relative rounded-2xl card-spotlight `} data-spotlight>
    <h3 class="text-lg font-bold font-serif text-white">{titulo}</h3>
    <p class="text-sm bg-gradient-to-b from-red-600 to-red-400 text-transparent text-clip bg-clip-text font-semibold">{subtitulo}</p>
    <p class="text-sm text-white font-bold">{fecha}</p>
    <p class="mt-2 text-gray-400">{descrip}</p>
  </div>
  <div class="absolute left-8 md:left-1/2 md:-translate-x-1/2 size-7 bg-red-500 rounded-full border-4 border-primary"></div>
</div>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const cards = document.querySelectorAll("[data-spotlight]");

    if (!cards.length) return;

    cards.forEach(card => {

      card.addEventListener("mousemove", (e) => {
        const rect = card.getBoundingClientRect();
        const x = e.clientX - rect.left;
        const y = e.clientY - rect.top;
        
        card.style.setProperty("--mouse-x", `${x}px`);
        card.style.setProperty("--mouse-y", `${y}px`);
        card.style.setProperty("--spotlight-color", "rgba(255,255,255,0.3)");
      })
    });
  });
</script>

<style>
  .card-spotlight{
    will-change:scroll-position;
  }

  .card-spotlight::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
  }

  .card-spotlight:hover::before,
  .card-spotlight:focus-within::before {
    opacity: 0.6;
  }

  /** CSS para el Scroll Animation */
  @keyframes slideTop {
    from {
		transform: translateY(250px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
  }

  .slide-in-top {
/* 	view-timeline-name: --slide-top;
	view-timeline-axis: block;
 */	animation: slideTop ease-in-out;
	animation-timeline: view();
	animation-range: entry 10% cover 50%;
}

</style>
