---
import { Image } from 'astro:assets';
const icons = import.meta.glob("../assets/icons/*.svg", {eager: true})
const {titulo,descripcionCard,thumb,stack,estado,type,fecha,slug,categoria} = Astro.props 
console.log(thumb);

const filteredIcons = Object.entries(icons)
.filter(([path]) => {
  const lastSegment = path.split("/").pop()
  return stack.includes((lastSegment ?? "").replace(".svg", ""))})
.map(([, mod]) => (mod as {default:any}).default)
---

<a href=`proyectos/${slug}` class="cursor-pointer block bg-primary rounded-lg group hover:scale-[1.03] overflow-hidden relative transition-transform duration-200">
  <Image
        width={1200}
        height={900}
        class="h-52 w-full relative [mask-image:linear-gradient(black_96%,transparent)] group-hover:-translate-y-full transition-all"
        src=`/${thumb}`
        alt="Preview del proyecto"
  />
  <div class="p-2 relative w-full group-hover:-translate-y-full transition-all">
    <div class="flex justify-between text-rose-400  uppercase  tracking-wider text-md ">
      <span>{type}</span>
      <span class="font-bold">{fecha}</span>
    </div>

    <h3 class="text-3xl font-bold mt-2 ">
      {titulo}
    </h3>
  </div>


</a>



<!-- <div data-slug={slug} role="link" class='proyecto-card cursor-pointer bg-primary rounded-3xl hover:scale-[1.02] border border-black hover:border-white   overflow-hidden  relative transition-transform duration-200'>
  <div class="grid lg:grid-cols-2 lg:gap-16 bg-primary p-4 rounded-3xl overflow-hidden">
    <div class="pb-4">
      <div class="inline-flex font-serif gap-2 bg-gradient-to-b from-rose-600 from-20%  to-rose-400 bg-clip-text text-transparent uppercase font-bold tracking-widest text-sm">
        <span>{type} - {fecha}</span>
      </div>

      <h3 class="text-3xl font-bold  mt-2 md:text-4xl md:mt-4">
        {titulo}
      </h3>
      <div class="flex gap-2 w-full">
        {
          estado ? '' : <div class="px-4 py-1 my-3 text-sm bg-yellow-400  rounded-3xl text-black font-semibold">En Curso</div>
        }
        {categoria.map((cat : String) =>  
          <div class="px-4 py-1 my-3 flex items-center text-sm justify-center text-pretty bg-white rounded-3xl text-black font-semibold">{cat === "Desarrollo" ? `💻 Desarrollo` : `🖌️ Diseño UX/UI`}</div>
          )
        }      
      </div>
      <p class="border-t border-gray-500 mt-3 py-2 text-wrap">
        {descripcionCard}
      </p>

      <div class="flex gap-2 border-t border-gray-500 pt-2 px-4 -mb-4">
        {
          filteredIcons.map((Icon) => {
            return <Icon class="size-7 fill-white"/>
          })
        }
      </div>

    </div>

    <div class="relative">
      <Image
        width={1200}
        height={900}
        class="mt-8 -mb-4 rounded-t-3xl  border-b-0 object-cover  lg:border-r-0 border-zinc-300/30 lg:max-w-lg lg:absolute  lg:h-full  lg:hover:scale-105 delay-200 transition"
        src=`/${thumb}`
        alt="Preview del proyecto"
      />
    </div>
  </div>
</div>


<script >
  document.addEventListener("DOMContentLoaded", () => {
    const contenedores = document.querySelectorAll(".proyecto-card")
    if (contenedores) {
      contenedores.forEach( (contenedor )  => {
        contenedor.addEventListener('click', () => {
          const div = contenedor as HTMLElement
          const slug = div.dataset.slug
          window.location.href= `/proyectos/${slug}`
        })
      })
    }
  })
</script> -->