---
const components = import.meta.glob("../assets/icons/*.svg", {eager: true})
const componentNames = Object.keys(components).map(path => 
  path.split('/').pop()?.replace('.svg', '')
);
const items = Object.values(components).map(module =>( module as {default:any}).default)
---

<article  class="flex flex-col gap-y-8 gap-x-3" >
    <div class="marquee relative flex overflow-hidden justify-start w-full select-none" id="marquee">
    <div class="marquee__group  flex items-center justify-around gap-x-4">
      {items.map((Item,index) => (
          <button class="hover:-rotate-6 hover:scale-105 transition group">  
            <Item key={index} class="fill-white size-16"/>
            <span class="opacity-0 group-hover:opacity-100 transition-all">
              {componentNames[index]}
            </span>
          </button>
        ))
      }
    </div>
    <div class="marquee__group flex items-center justify-around gap-x-4">
      {items.map((Item,index) => (
        <button class="hover:-rotate-6 hover:scale-105 transition group">  
            <Item key={index} class="fill-white size-16"/>
            <span class="opacity-0 group-hover:opacity-100 transition-all">
              {componentNames[index]}
            </span>
          </button>
        ))}
    </div>  
  </div>

   <div class="marquee marquee--reverse relative flex overflow-hidden justify-start w-full select-none" id="marquee-reverse">
    <div class="marquee__group shrink-0 flex items-center justify-around gap-x-4">
      {items.map((Item,index) => (
          <button class="hover:-rotate-6 hover:scale-105 transition group">  
            <Item key={index} class="fill-white size-16"/>
            <span class="opacity-0 group-hover:opacity-100 transition-all">
              {componentNames[index]}
            </span>
          </button>))
      }
    </div>
    <div class="marquee__group shrink-0 flex items-center justify-around gap-x-4" >
      {items.map((Item,index) => (
        <button class="hover:-rotate-6 hover:scale-105 transition group">  
            <Item key={index} class="fill-white size-16"/>
            <span class="opacity-0 group-hover:opacity-100 transition-all">
              {componentNames[index]}
            </span>
          </button>
        ))
      }
    </div>
  </div> 
</article>

<script>
  const marquee = document.getElementById("marquee")!;
  const marqueeReverse = document.getElementById("marquee-reverse")!;
  
  let isPaused = false;
  const pauseOnHover = "true";

  function togglePause(pause:boolean) {
    if (pauseOnHover) {
      isPaused = pause;
      marquee.classList.toggle("paused", isPaused);
      marqueeReverse.classList.toggle("paused", isPaused);
    }
  }

  marquee.addEventListener("mouseenter", () => togglePause(true));
  marquee.addEventListener("mouseleave", () => togglePause(false));
  marqueeReverse.addEventListener("mouseenter", () => togglePause(true));
  marqueeReverse.addEventListener("mouseleave", () => togglePause(false));
</script>

<style>
  :root {
    --duration: 20s;
  }

  .marquee {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    mask-size: cover;
    mask-repeat: no-repeat;
  }

  .marquee__group {
    animation: scroll-x var(--duration) linear infinite;
  }

  .marquee--reverse .marquee__group {
    animation-direction: reverse;
    animation-delay: -5s;
  }

  @keyframes scroll-x {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .paused .marquee__group {
    animation-play-state: paused !important;
  }

</style>
